pipeline/PL_DATA_SQL_CSV.json
{
	"name": "PL_DATA_SQL_CSV",
	"properties": {
		"activities": [
			{
				"name": "copy_data_sql_csv",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable4",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "copy_data_sql_csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[loadstatus]",
					"storedProcedureParameters": {
						"dataread": {
							"value": {
								"value": "@activity('copy_data_sql_csv').output.rowsRead",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorid": {
							"value": null,
							"type": "String"
						},
						"errormessage": {
							"value": null,
							"type": "String"
						},
						"loadstatus": {
							"value": {
								"value": "@activity('copy_data_sql_csv').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@concat(pipeline().parameters.TableSchema,'_',pipeline().parameters.TableName)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer3",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "copy_data_sql_csv",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[loadstatus]",
					"storedProcedureParameters": {
						"dataread": {
							"value": {
								"value": "@activity('copy_data_sql_csv').output.rowsRead",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorid": {
							"value": {
								"value": "@activity('copy_data_sql_csv').output.errors[0].code",
								"type": "Expression"
							},
							"type": "String"
						},
						"errormessage": {
							"value": {
								"value": "@activity('copy_data_sql_csv').output.errors[0].message",
								"type": "Expression"
							},
							"type": "String"
						},
						"loadstatus": {
							"value": {
								"value": "@activity('copy_data_sql_csv').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@concat(pipeline().parameters.TableSchema,'.',pipeline().parameters.TableName)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer4",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"TableName": {
				"type": "string"
			},
			"TableSchema": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-17T10:16:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}